<!DOCTYPE html>
<html lang="en">

<head>
    <title>Jackes dunderburgare</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="js/menu.js"></script>
    <script src="https://vuejs.org/js/vue.js"></script>
    <script src="js/js_script.js" defer></script>
    <script src="js/vue_script.js" defer></script>
</head>

<body>
    <main>
        <header>
            <h1>Welcome to my Jackes dunderburgare</h1>
            <img
                src="https://images.pexels.com/photos/141784/pexels-photo-141784.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">

        </header>
        <section id="menu">
            <div class="menu_heading">
                <h2>Select your burger</h2>
                <p>This is where you can choose what burger you want to order</p>
            </div>
        </section>
        <section id="info">
            <h2>Customer information</h2>
            <p>This is you provide neccessary information about yourself</p>
            <h3>Delivery information</h3>
            <form>
                <p>
                    <label for="fullname">Full name</label>
                    <input type="text" id="fullname" name="fn" required="required" placeholder="First- and last name">
                </p>
                <p>
                    <label for="email">E-mail</label>
                    <input type="email" id="email" name="em" required="required" placeholder="E-mail address">
                </p>
                <p>
                    <label for="street">Street name</label>
                    <input type="text" id="street" name="st" required="required" placeholder="Street address name">
                </p>
                <p>
                    <label for="house">House number</label>
                    <input type="text" id="house" name="hn" required="required" placeholder="House or apartment number">
                </p>
                <p>
                    <label for="payment">Payment</label><br>
                    <select id="payment" name="pay">
                        <option>Swish</option>
                        <option>Mastercard</option>
                        <option>Klarna</option>
                        <option>Bitcoin</option>
                        <option>Paypal</option>
                    </select>
                </p>
                <p>
                    <input type="radio" id="male" name="gnd" required="required" value="male">
                    <label for="male">Male</label>
                </p>
                <p>
                    <input type="radio" id="female" name="gnd" required="required" value="female">
                    <label for="male">Female</label>
                </p>
                <p>
                    <input type="radio" id="other" name="gnd" required="required" value="other" checked="checked">
                    <label for="male">Other</label>
                </p>

            </form>
        </section>
        <button id="orderButton" type="submit">Submit order</button>
    </main>
    <footer>
        <p>&copy; Jackes dunderburgare</p>
    </footer>
</body>

</html>